@import '../../breakpoints.settings.scss';

.custom-button {
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    color: white;
    min-width: 100px;
    font-weight: 200;
    font-size: 0.8em;
    border: 1px solid white;
    border-radius: 10px; 
    transition: 0.15s linear;
    background: none;

    &:hover {
        background-color: white;
        color: black;
        cursor: pointer;
        transform: scale(1.1);
    }

    &:active {
        opacity: 0.7;
        cursor: pointer;
    }

    &.filled {
        background-color: white;
        cursor: pointer;
        color: black;
        border: 1px solid black;

        &:active {
            
            opacity: 1;
            cursor: pointer;
            background-color: rgb(187, 187, 187);
            border: 1px solid rgb(187, 187, 187);
        }
    }

    &.map {
        margin: 20px;

        &:hover {
            background-color: rgb(202, 0, 0);
            color: white;
            border: 1px solid black
    
        }
    }

    
}



