.virus-model-loader{
    margin:0;
    width: 99vw;
    background-color: black;
    display: flex;
    height: 90vh;
    background-size: cover;
    background-image: url("https://thumbs.gfycat.com/AngryElaborateAldabratortoise-size_restricted.gif");
}