.my-viruses {
    background: url('../../assets/images/mv.jpg');
    background-attachment: fixed;
    background-position: center;
    padding: 20px;
}

.my-viruses-title {
    margin: 0;
    padding: 20px;
}