.parallax-info-box {
    padding: 50px;
    width: 70vw;
    color: white;
    border-radius: 30px;
    position: absolute;
    top: 20%;
    background-color: black;
    
    &.light {
        color: black;
        background-color: white;
    }
}