.new-virus-page {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.virus-modifiers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    background: url('../../assets/images/blackmarble.jpg');
    background-size: cover;
    overflow-y:scroll;
    padding-bottom: 40px;
}

.virus-model-container {
    display: flex;
    height: 100vh;
    width: 80vw;
    background-color: black;
}

.create-card {
    padding: 30px;
    margin: 20px;
    background: url('../../assets/images/marble.jpg');
    background-size: cover;
}

.card-title {
    width: 250px;
}