.emoji-component {
    height: 72vh;
    width: 100%;
    margin: 0;
  }
  
  .emoji-title {
    position: absolute;
    left: 65%;
    top: 400px;
    transform: translate(-50%, -50%);
    min-width: 250px;
    max-width: 25%;
    background: #7EA8BE;
    opacity: 0.95;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
  }
  
  .title-h1 {
    padding: 0px 60px;
    text-align: center;
    border-radius: 7px;
    color: #4B666B;
  }
  
  .emoji-button {
    padding: 10px;
    margin: 5px;
    font-size: 1em;
    color: #FCFAF9;
    background: #4B666B;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
  }
  
  .git {
    padding: 20px;
    margin-bottom: 5px;
  }
  
  @media screen and (max-width: 800px) {
    .git {
      padding: 3px;
      text-align: center;
    }
    .title {
      margin-top: 30px;
      text-align: left;
    }
    .title h1 {
      font-size: 24px;
    }
    .title button {
      font-size: 14px;
      margin: 2px;
      padding: 4px;
    }
  }

  *,
*:before,
*:after {
  box-sizing: border-box;
}

.emoji-fill {
  width: 70vw;
  height: 90vh;
  background-color: black;
}