.virus-model-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.ToolTipPos {
    color: white;
}

.information {
    color: white;
    background-color:red;
    height: 100%;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .full {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.top {
    margin-top: 0px;
    display: flex;
}

.virus-canvas {
    margin-top: 0px;
    background-image: url("https://thumbs.gfycat.com/AngryElaborateAldabratortoise-size_restricted.gif");
    background-size: cover;    
  }

.virus-container {
    margin-left:10%;
}

  
.LoadingAnimation {
    margin-top: -3%;
    margin-bottom: 3%;
    background: rgba(0,0,0,1);
}

.sceneBg {
    background: rgba(0,0,0,1);
    height:5vh;
    width:100vw;
}

.sceneBgTwo {
    height:5vh;
    width:100vw;
    margin-left: 15%;
}

.buttonContainer {
    margin-right: 20%;
}

.model-buttons {
    display: flex;
    justify-content: space-around;

    &.save-delete {
        display: flex;
        justify-content: space-around;
    }
    
}

