.parallax-content {
    display: flex;
    flex-direction: row;
    color: white;
    
    .parallax-list {
        display: flex;
        flex-direction: column;

        .parallax-big-text {
            margin-top: 0px;
        }
    }

    .parallax-desc {
        padding-left: 30px;
    }

    &.light {
        color: black;
    }

}